In [1]:
import pandas as pd

In [3]:
low = pd.read_csv('ysi_utils/data/raw/low.csv')
low.head()

              Species            Type       CAS  Ref   YSI
0           n-pentane  Linear Alkanes  109-66-0    3  -8.9
1            n-hexane  Linear Alkanes  110-54-3    3   0.0
2     2-methylpentane  Linear Alkanes  107-83-5    3   9.8
3     3-methylpentane  Linear Alkanes   96-14-0    3  12.2
4  2,2-dimethylbutane  Linear Alkanes   75-83-2    3  20.2

In [4]:
from ysi_utils.tools.chemical_conversions import (
    check_cas, get_smiles_from_cas, canonicalize_smiles,
    get_iupac_name_from_smiles, get_smiles_from_name)

In [5]:
assert low.CAS.apply(check_cas).all()

In [6]:
low['SMILES'] = low.CAS.apply(get_smiles_from_cas, db='nist')

error with CAS: 18459-51-3, 	 list index out of range
error with CAS: 818-57-5, 	 list index out of range
error with CAS: 1567-14-2, 	 list index out of range

In [7]:
low[low.SMILES.isnull()]

,Species,Type,CAS,Ref,YSI,SMILES
195,2-butylhexanal,Saturated Aldehydes,18459-51-3,3,27.6,None
251,methyl-4-pentenoate,Unsaturated Esters,818-57-5,4,4.5,None
260,methyl-2-methyl-2-pentenoate,Unsaturated Esters,1567-14-2,4,18.0,None

In [8]:
low.loc[195, 'SMILES'] = 'CCCCC(CCCC)C=O'
low.loc[251, 'SMILES'] = 'COC(=O)CCC=C'
low.loc[260, 'SMILES'] = 'CC/C=C(\C)/C(=O)O'

In [9]:
assert (low.SMILES != None).all()

In [10]:
low.SMILES = low.SMILES.apply(canonicalize_smiles)

In [12]:
assert ~low.SMILES.duplicated().any()

In [13]:
low.head()

              Species            Type       CAS  Ref   YSI      SMILES
0           n-pentane  Linear Alkanes  109-66-0    3  -8.9       CCCCC
1            n-hexane  Linear Alkanes  110-54-3    3   0.0      CCCCCC
2     2-methylpentane  Linear Alkanes  107-83-5    3   9.8    CCCC(C)C
3     3-methylpentane  Linear Alkanes   96-14-0    3  12.2    CCC(C)CC
4  2,2-dimethylbutane  Linear Alkanes   75-83-2    3  20.2  CCC(C)(C)C

In [14]:
low.to_pickle('ysi_utils/data/low.p')